@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Quicksand";
  overflow-y: hidden;
}

.lora {
  font-family: "Lora";
}

.luckyGuy {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  /* font-style: normal; */
}
.mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@theme {
  --color-blue: #73c3b4;
  --color-red: #800000;
  --color-cream: #fef9ec;
  --color-butterscothch: #d78e47;
  --color-brown: #b16231;
}

.brand-name {
  font-family: "Edu NSW ACT Cursive", cursive !important;
}
@media (max-width: 1830px) {
  html,
  body {
    overflow-x: hidden !important;
  }
}

/* .card-hover:hover svg {
  transition: all 0.2s ease-in-out;
  transform: rotate(10deg) scale(1.07);
} */
@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
.hover-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease-in, transform 200ms ease-in;
  transform: translateY(10px);
}

.cat-card:hover .hover-content {
  opacity: 1;
  transform: translateY(0);
}

/* background color */
.bg {
  @apply bg-[#fef9ec];
}

/* heading color */
.heading-color {
  @apply text-black;
}

/* sub heading */
.subHeading {
  @apply text-center text-xl pt-5 text-gray-700;
}

@media (min-width: 1024px) and (max-width: 1186px) {
  .brand-name {
    display: none;
  }
}

@font-face {
  font-family: "Gliker";
  src: url("/fonts/gliker-regular.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}

/* h1,
h2 {
  font-family: "Gliker";
} */

.new-btn {
  @apply shadow-[0px_3px_1px_#000000] active:shadow-none active:translate-y-[3px] transition-all duration-200 hover:-translate-y-[2px] hover:shadow-[0px_5px_1px_#000000];
}

html,
body {
  scroll-behavior: smooth;
}

.edit-modal::-webkit-scrollbar {
  display: none;
}
