@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Gliker";
  src: url("/fonts/gliker-regular.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "Nexa";
  src: url("/fonts/Nexa-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "picktea";
  src: url("/fonts/picktea.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}

body {
  font-family: "poppins";
  overflow-y: hidden;
}

.luckyGuy {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  /* font-style: normal; */
}

.gliker {
  font-family: "Gliker";
}

.mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Lora"; */
  /* font-family: "picktea" */
  font-family: "Nexa";
}

/* background color */
.bg {
  @apply bg-[#EFE1D0];
}
.pac-container {
  z-index: 9999 !important;
}

@theme {
  /* for text */
  --color-blue: #73c3b4;
  /* for navbar */
  --color-red: #be0604;
  /* for bg */
  --color-cream: #fff4d9;
  --color-cream2: #faf6eb;
  /* for active */
  --color-vibrant: #f9c7c2;
  --color-brown: #b16231;
  --color-violet: #870d32;
}

.brand-name {
  font-family: "Edu NSW ACT Cursive", cursive !important;
}
@media (max-width: 1830px) {
  html,
  body {
    overflow-x: hidden !important;
  }
}

/* .card-hover:hover svg {
  transition: all 0.2s ease-in-out;
  transform: rotate(10deg) scale(1.07);
} */
@theme {
  --animate-wiggle: wiggle 1s ease-in infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.hover-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition:
    opacity 200ms ease-in,
    transform 200ms ease-in;
  transform: translateY(10px);
}

.cat-card:hover .hover-content {
  opacity: 1;
  transform: translateY(0);
}

/* heading color */
.heading-color {
  @apply text-black;
}

/* sub heading */
.subHeading {
  @apply text-center text-xl pt-5 text-gray-700;
}

@media (min-width: 1024px) and (max-width: 1186px) {
  .brand-name {
    display: none;
  }
}

/* @font-face {
  font-family: "Gliker";
  src: url("/fonts/gliker-regular.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "picktea";
  src: url("/fonts/picktea.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
} */

/* h1,
h2 {
  font-family: "Gliker";
} */

.new-btn {
  @apply shadow-[0px_3px_1px_#000000] active:shadow-none active:translate-y-[3px] transition-all duration-200 hover:-translate-y-[2px] hover:shadow-[0px_5px_1px_#000000];
}

html,
body {
  scroll-behavior: smooth;
  background-color: #efe1d0 !important;
}

.edit-modal::-webkit-scrollbar {
  display: none;
}

/* background color */
.bg {
  @apply bg-[#fef9ec];
}

.new-bg {
  @apply bg-[#F6E9D9];
}

.new-primary-border {
  @apply border-[#F6E9D9];
}

.new-text {
  @apply text-[#F6E9D9];
}

.new-primary-bg {
  @apply bg-[#870D32];
}

.new-primary-bg-dark {
  @apply bg-[#9a0c36];
}

.new-primary-light-bg {
  @apply bg-[#ec4174];
}

.new-primary-light-text {
  @apply text-[#ec4174];
}

.new-primary-text {
  @apply text-[#870D32];
}

.new-secondary-bg {
  @apply bg-[#E62A38];
}

.new-secondary-text {
  @apply text-[#E62A38];
}
