@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
@import "tailwindcss";

.redText {
  color: red;
}
.brand-name {
  font-family: "Edu NSW ACT Cursive", cursive !important;
}
@media (max-width: 1830px) {
  html,
  body {
    overflow-x: hidden !important;
  }
}
